
<body class="body" >
<div class="container" style="margin-top: 80px;">
  <div class="card mx-auto " style=" width: 30rem;border-radius: 40px;padding: 20px;background: rgba(255, 255, 255, 0.5)">
    <div class="mx-auto" style="margin-top: 10px;color: rgb(18, 74, 107);text-align: center;font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;"><h2>Login</h2></div>
    <div class="card-body">
      <div class="container col-4"><img src="assets\imgs\user-profile-svgrepo-com.svg" width="120px"></div>
      <form style="filter:alpha(opacity=50); opacity:0.9;">
      <div class="mb-3">
        <label for="formGroupExampleInput" class="form-label">User name</label>
        <div class="input-group has-validation">
          <span class="input-group-text igt" id="inputGroupPrepend">A</span>
          <input
            type="text"
            class="form-control"
            name="username"
            [(ngModel)]="LoginUserData.username"
            id="formGroupExampleInput"
            ngModel
            required
            #username="ngModel"
            pattern="^[a-zA-z0-9-]+$"
          />
        </div>
      </div>
      <div class="mb-3">
        <label for="formGroupExampleInput2" class="form-label">Password</label>
        <div class="input-group has-validation">
          <span  class="input-group-text igt" id="inputGroupPrepend">#</span>
          <input
            type="password"
            name="password"
            [(ngModel)]="LoginUserData.password"
            class="form-control"
            id="formGroupExampleInput2"
            ngModel
            required
            #password="ngModel"
            minlength="2"
            maxlength="25"
            pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?!.*\s).{8,25}$"
          />
        </div>
        <div class="myalert" *ngIf="errLink">* {{ errMsg }}</div>
      </div>
      <div class="mb-3">
        <button type="button" (click)="LoginUser()" class="btn btn-primary">
          Login
        </button>
        <pre style="display: inline-block;">                              </pre>
        <a href="/signup">New User ?</a>
      </div>
      
    </form>
    </div>
  </div>
</div>
</body>