<body>
  <button class="btn btn-primary logout" (click)="logout()">Logout</button>
  <div class="main">
    <div class="container">
      <div class="row slider">
        <button class="left" (click)="slideLeft()"><</button>
        <div class="col-md slide s1-1">
          <ul class="list-group" style="text-align: center">
            <li id="head1" class="list-group-item head1">AGITATION</li>

            <li id="dhead1" class="list-group-item dhead1">
              <span class="dhead11 box"
                >Current Reading: {{ values.agitation }}</span
              ><span class="unit"> RPM</span>
            </li>

            <li id="dhead1" class="list-group-item dhead1"><p></p></li>

            <li id="dhead1" class="list-group-item dhead1"><p></p></li>

            <li id="dhead1" class="list-group-item dhead1"><p></p></li>
            <br />
          </ul>
        </div>
        <div class="col-md slide s1-2">
          <ul class="list-group" style="text-align: center">
            <li id="head2" class="list-group-item">More</li>

            <li id="dhead2" class="list-group-item">
              <a
                id="dhead12"
                href="#"
                class="list-group-item"
                id="dropdownMenuButton1"
                data-bs-target="#navbarSupportedContent21"
                data-bs-toggle="collapse"
              >
                WPS <i class="fas fa-caret-down"></i>
              </a>
              <div
                class="collapse col-md-12 list-group list-group-flush"
                id="navbarSupportedContent21"
              >
                <a id="box2" class="list-group-item" href="#">Action</a>
                <a id="box2" class="list-group-item" href="#">Another action</a>
                <a id="box2" class="list-group-item" href="#"
                  >Something else here</a
                >
              </div>
            </li>

            <li id="dhead2" class="list-group-item">
              <a
                id="dhead12"
                href="#"
                class="list-group-item"
                id="dropdownMenuButton1"
                data-bs-target="#navbarSupportedContent22"
                data-bs-toggle="collapse"
              >
                Online Update ⌵ <i class="fas fa-caret-down"></i>
              </a>
              <div
                class="collapse col-md-12 list-group list-group-flush"
                id="navbarSupportedContent22"
              >
                <a id="box2" class="list-group-item" href="#">Action</a>
                <a id="box2" class="list-group-item" href="#">Another action</a>
                <a id="box2" class="list-group-item" href="#"
                  >Something else here</a
                >
              </div>
            </li>

            <li id="dhead2" class="list-group-item">
              <a
                id="dhead12"
                href="#"
                class="list-group-item"
                id="dropdownMenuButton1"
                data-bs-target="#navbarSupportedContent23"
                data-bs-toggle="collapse"
              >
                USSD ⌵ <i class="fas fa-caret-down"></i>
              </a>
              <div
                class="collapse col-md-12 list-group list-group-flush"
                id="navbarSupportedContent23"
              >
                <a id="box2" class="list-group-item" href="#">Action</a>
                <a id="box2" class="list-group-item" href="#">Another action</a>
                <a id="box2" class="list-group-item" href="#"
                  >Something else here</a
                >
              </div>
            </li>

            <li id="dhead2" class="list-group-item">
              <a
                id="dhead12"
                href="#"
                class="list-group-item"
                id="dropdownMenuButton1"
                data-bs-target="#navbarSupportedContent24"
                data-bs-toggle="collapse"
              >
                Diagnostic ⌵ <i class="fas fa-caret-down"></i>
              </a>
              <div
                class="collapse col-md-12 list-group list-group-flush"
                id="navbarSupportedContent24"
              >
                <a id="box2" class="list-group-item" href="#">Action</a>
                <a id="box2" class="list-group-item" href="#">Another action</a>
                <a id="box2" class="list-group-item" href="#"
                  >Something else here</a
                >
              </div>
            </li>
            <br />
          </ul>
        </div>
        <!-- ---------- -->
        <div class="col-md slide s1-3">
          <ul class="list-group" style="text-align: center">
            <li id="head3" class="list-group-item">Cooling Fan</li>

            <li id="dhead3" class="list-group-item">
              <a
                id="dhead13"
                href="#"
                class="list-group-item"
                id="dropdownMenuButton1"
                data-bs-target="#navbarSupportedContent31"
                data-bs-toggle="collapse"
              >
                Dropdown button 1 <i class="fas fa-caret-down"></i>
              </a>
              <div
                class="collapse col-md-12 list-group list-group-flush"
                id="navbarSupportedContent31"
              >
                <a id="box3" class="list-group-item" href="#">Action</a>
                <a id="box3" class="list-group-item" href="#">Another action</a>
                <a id="box3" class="list-group-item" href="#"
                  >Something else here</a
                >
              </div>
            </li>

            <li id="dhead3" class="list-group-item">
              <a
                id="dhead13"
                href="#"
                class="list-group-item"
                id="dropdownMenuButton1"
                data-bs-target="#navbarSupportedContent32"
                data-bs-toggle="collapse"
              >
                Dropdown button 2 <i class="fas fa-caret-down"></i>
              </a>
              <div
                class="collapse col-md-12 list-group list-group-flush"
                id="navbarSupportedContent32"
              >
                <a id="box3" class="list-group-item" href="#">Action</a>
                <a id="box3" class="list-group-item" href="#">Another action</a>
                <a id="box3" class="list-group-item" href="#"
                  >Something else here</a
                >
              </div>
            </li>

            <li id="dhead3" class="list-group-item">
              <a
                id="dhead13"
                href="#"
                class="list-group-item"
                id="dropdownMenuButton1"
                data-bs-target="#navbarSupportedContent33"
                data-bs-toggle="collapse"
              >
                Dropdown button 3 <i class="fas fa-caret-down"></i>
              </a>
              <div
                class="collapse col-md-12 list-group list-group-flush"
                id="navbarSupportedContent33"
              >
                <a id="box3" class="list-group-item" href="#">Action</a>
                <a id="box3" class="list-group-item" href="#">Another action</a>
                <a id="box3" class="list-group-item" href="#"
                  >Something else here</a
                >
              </div>
            </li>

            <li id="dhead3" class="list-group-item">
              <a
                id="dhead13"
                href="#"
                class="list-group-item"
                id="dropdownMenuButton1"
                data-bs-target="#navbarSupportedContent34"
                data-bs-toggle="collapse"
              >
                Dropdown button 4 <i class="fas fa-caret-down"></i>
              </a>
              <div
                class="collapse col-md-12 list-group list-group-flush"
                id="navbarSupportedContent34"
              >
                <a id="box3" class="list-group-item" href="#">Action</a>
                <a id="box3" class="list-group-item" href="#">Another action</a>
                <a id="box3" class="list-group-item" href="#"
                  >Something else here</a
                >
              </div>
            </li>
            <br />
          </ul>
        </div>
        <!--.......................-->
        <div class="col-md slide s1-4">
          <ul class="list-group" style="text-align: center">
            <li id="head4" class="list-group-item">An item</li>

            <li id="dhead4" class="list-group-item">
              <a
                id="dhead14"
                href="#"
                class="list-group-item"
                id="dropdownMenuButton1"
                data-bs-target="#navbarSupportedContent41"
                data-bs-toggle="collapse"
              >
                Dropdown button 1 <i class="fas fa-caret-down"></i>
              </a>
              <div
                class="collapse col-md-12 list-group list-group-flush"
                id="navbarSupportedContent41"
              >
                <a id="box4" class="list-group-item" href="#">Action</a>
                <a id="box4" class="list-group-item" href="#">Another action</a>
                <a id="box4" class="list-group-item" href="#"
                  >Something else here</a
                >
              </div>
            </li>

            <li id="dhead4" class="list-group-item">
              <a
                id="dhead14"
                href="#"
                class="list-group-item"
                id="dropdownMenuButton1"
                data-bs-target="#navbarSupportedContent42"
                data-bs-toggle="collapse"
              >
                Dropdown button 2 <i class="fas fa-caret-down"></i>
              </a>
              <div
                class="collapse col-md-12 list-group list-group-flush"
                id="navbarSupportedContent42"
              >
                <a id="box4" class="list-group-item" href="#">Action</a>
                <a id="box4" class="list-group-item" href="#">Another action</a>
                <a id="box4" class="list-group-item" href="#"
                  >Something else here</a
                >
              </div>
            </li>

            <li id="dhead4" class="list-group-item dhead4">
              <a
                id="dhead14"
                href="#"
                class="list-group-item dhead14"
                id="dropdownMenuButton1"
                data-bs-target="#navbarSupportedContent43"
                data-bs-toggle="collapse"
              >
                Dropdown button 3 <i class="fas fa-caret-down"></i>
              </a>
              <div
                class="collapse col-md-12 list-group list-group-flush"
                id="navbarSupportedContent43"
              >
                <a id="box4" class="list-group-item box4" href="#">Action</a>
                <a id="box4" class="list-group-item box4" href="#"
                  >Another action</a
                >
                <a id="box4" class="list-group-item box4" href="#"
                  >Something else here</a
                >
              </div>
            </li>

            <li id="dhead4" class="list-group-item dhead4">
              <a
                id="dhead14"
                href="#"
                class="list-group-item dhead14"
                id="dropdownMenuButton1"
                data-bs-target="#navbarSupportedContent44"
                data-bs-toggle="collapse"
              >
                Dropdown button 4 <i class="fas fa-caret-down"></i>
              </a>
              <div
                class="collapse col-md-12 list-group list-group-flush"
                id="navbarSupportedContent44"
              >
                <a id="box4" class="list-group-item box4" href="#">Action</a>
                <a id="box4" class="list-group-item box4" href="#"
                  >Another action</a
                >
                <a id="box4" class="list-group-item box4" href="#"
                  >Something else here</a
                >
              </div>
            </li>
            <br />
          </ul>
        </div>
        <div class="col-md slide s1-5">
          <ul class="list-group">
            <li class="list-group-item head4">TURBIDITY</li>
            <li class="list-group-item dhead4">A second item</li>
            <li class="list-group-item dhead4">A third item</li>
            <li class="list-group-item dhead4">A fourth item</li>
            <li class="list-group-item dhead4">And a fifth one</li>
          </ul>
        </div>
        <div class="col-md slide s1-6">
          <ul class="list-group">
            <li class="list-group-item head4">Temperature</li>
            <li class="list-group-item dhead4">A second item</li>
            <li class="list-group-item dhead4">A third item</li>
            <li class="list-group-item dhead4">A fourth item</li>
            <li class="list-group-item dhead4">And a fifth one</li>
          </ul>
        </div>
        <div class="col-md slide s1-7">
          <ul class="list-group">
            <li class="list-group-item head4">TURBIDITY</li>
            <li class="list-group-item dhead4">A second item</li>
            <li class="list-group-item dhead4">A third item</li>
            <li class="list-group-item dhead4">A fourth item</li>
            <li class="list-group-item dhead4">And a fifth one</li>
          </ul>
        </div>
        <div class="col-md slide s1-8">
          <ul class="list-group">
            <li class="list-group-item head4">Hpa</li>
            <li class="list-group-item dhead4">A second item</li>
            <li class="list-group-item dhead4">A third item</li>
            <li class="list-group-item dhead4">A fourth item</li>
            <li class="list-group-item dhead4">And a fifth one</li>
          </ul>
        </div>
        <div class="col-md slide s1-9">
          <ul class="list-group">
            <li class="list-group-item head4">uv</li>
            <li class="list-group-item dhead4">A second item</li>
            <li class="list-group-item dhead4">A third item</li>
            <li class="list-group-item dhead4">A fourth item</li>
            <li class="list-group-item dhead4">And a fifth one</li>
          </ul>
        </div>
        <button class="right" (click)="slideRight()">></button>
      </div>
    </div>
  </div>
</body>
