<body>
  <button class="btn btn-primary back" (click)="back()">Back</button>
  <button class="btn btn-primary logout" (click)="logout()">Logout</button>
  <h3 style="color: black; text-align: center">
    BIOTORR
    <sup style="font-size: small; color: black; text-align: center">TM</sup>
  </h3>
  <p style="color: black; text-align: center">
    <span>T</span>HE <span>N</span>EXT <span>G</span>EN
    <span>B</span>IO<span>R</span>EACTOR <span>S</span>YSTEM
  </p>
  <div class="main">
    <div class="container">
      <div class="row slider">
        <button class="left" (click)="slideLeft()"><</button>
        <div class="col-md slide s1-1">
          <ul class="list-group" style="text-align: center">
            <li id="head1" class="list-group-item head1">AGITATION</li>

            <li id="dhead1" class="list-group-item dhead1">
              <span class="dhead11 box">Current Reading </span>
            </li>

            <li id="dhead1" class="list-group-item dhead1">
              <span>{{ values.agitation }} <span class="unit"> RPM</span></span>
            </li>

            <li id="dhead1" class="list-group-item dhead1"><p></p></li>

            <li id="dhead1" class="list-group-item dhead1"><p></p></li>
            <br />
          </ul>
        </div>
        <div class="col-md slide s1-2">
          <ul class="list-group" style="text-align: center">
            <li id="head2" class="list-group-item head2">AQI</li>

            <li id="dhead2" class="list-group-item dhead2">
              <span class="dhead21 box">Current Reading </span>
            </li>

            <li id="dhead2" class="list-group-item dhead2">
              <span>{{ values.aqi.value }}</span
              ><span class="unit"> RPM</span>
            </li>

            <li id="dhead2" class="list-group-item dhead2">
              <span class="con" style="text-align: left"
                >CONNECTION STATUS</span
              >
            </li>

            <li id="dhead2" class="list-group-item dhead2">
              <span *ngIf="values.aqi.status; else elseBlock"
                ><span style="color: greenyellow">✓ ONLINE</span></span
              >
              <ng-template #elseBlock
                ><span style="color: #ff0000">✘ OFFLINE</span></ng-template
              >
            </li>
            <br />
          </ul>
        </div>
        <!-- ---------- -->
        <div class="col-md slide s1-3">
          <ul class="list-group" style="text-align: center">
            <li id="head3" class="list-group-item head3">COOLING FAN</li>

            <li id="dhead3" class="list-group-item dhead3">
              <span class="dhead31 box">Cabin Temperature</span>
            </li>

            <li id="dhead3" class="list-group-item dhead3">
              <span>{{ values.coolingFan.value | number: "2.1-2" }}</span>
              <span class="unit"> °C</span>
            </li>

            <li id="dhead3" class="list-group-item dhead3">
              <span class="con" style="text-align: left"
                >CONNECTION STATUS</span
              >
            </li>

            <li id="dhead3" class="list-group-item dhead3">
              <span *ngIf="values.coolingFan.status; else elseBlock"
                ><span style="color: greenyellow">✓ ONLINE</span></span
              >
              <ng-template #elseBlock
                ><span style="color: #ff0000">✘ OFFLINE</span></ng-template
              >
            </li>
            <br />
          </ul>
        </div>
        <!--.......................-->
        <div class="col-md slide s1-4">
          <ul class="list-group" style="text-align: center">
            <li id="head4" class="list-group-item head4">DISSOLVED OXYGEN</li>

            <li id="dhead4" class="list-group-item dhead4">Current Value</li>

            <li id="dhead4" class="list-group-item dhead4">
              <span>{{ values.disOxygen.value | number: "2.1-2" }}</span
              ><span class="unit"> mg/L</span>
            </li>

            <li id="dhead4" class="list-group-item dhead4">
              <span class="con" style="text-align: left">AIR PUMP STATUS</span>
            </li>

            <li id="dhead4" class="list-group-item dhead4">
              <span *ngIf="airpump; else elseBlock"
                ><span style="color: greenyellow">✓ ONLINE</span></span
              >
              <ng-template #elseBlock
                ><span style="color: #ff0000">✘ OFFLINE</span></ng-template
              >
            </li>
            <br />
          </ul>
        </div>
        <div class="col-md slide s1-5">
          <ul class="list-group" style="text-align: center">
            <li class="list-group-item head5">Hpa</li>
            <li class="list-group-item dhead5">
              Current Reactor Tank Air pressure
            </li>
            <li class="list-group-item dhead5">
              <span>{{ values.hpa | number: "2.1-2" }}</span
              ><span class="unit"> mbar</span>
            </li>
            <li class="list-group-item dhead5"><p></p></li>
            <li class="list-group-item dhead5"><p></p></li>
          </ul>
        </div>
        <div class="col-md slide s1-6">
          <ul class="list-group" style="text-align: center">
            <li class="list-group-item head6">TEMPERATURE</li>
            <li class="list-group-item dhead6">Tank Temperature</li>
            <li class="list-group-item dhead6">
              <span>{{ values.temp.tankTemp | number: "2.1-2" }}</span>
            </li>
            <li class="list-group-item dhead6">Cabin Temperature</li>
            <li class="list-group-item dhead6">
              {{ values.temp.cabinTemp | number: "2.1-2" }}
            </li>
            <li class="list-group-item dhead6">CONNECTION STATUS</li>
            <li class="list-group-item dhead6">
              <span *ngIf="values.disOxygen.status; else elseBlock"
                ><span style="color: greenyellow">✓ ONLINE</span></span
              >
              <ng-template #elseBlock
                ><span style="color: #ff0000">✘ OFFLINE</span></ng-template
              >
            </li>
          </ul>
        </div>
        <div class="col-md slide s1-7">
          <ul class="list-group" style="text-align: center">
            <li class="list-group-item head7">pH</li>
            <li class="list-group-item dhead7">Current Reading</li>
            <li class="list-group-item dhead7">
              <span> {{ values.ph.value }}</span>
            </li>
            <li class="list-group-item dhead7">CONNECTION STATUS</li>
            <li class="list-group-item dhead7">
              <span *ngIf="values.ph.status; else elseBlock"
                ><span style="color: greenyellow">✓ ONLINE</span></span
              >
              <ng-template #elseBlock
                ><span style="color: #ff0000">✘ OFFLINE</span></ng-template
              >
            </li>
          </ul>
        </div>
        <div class="col-md slide s1-8">
          <ul class="list-group" style="text-align: center">
            <li class="list-group-item head8">TURBIDITY</li>
            <li class="list-group-item dhead8">Current Reading</li>
            <li class="list-group-item dhead8">
              <span>{{ values.turbidity.value | number: "2.1-2" }}</span
              ><span class="unit"> NTU</span>
            </li>
            <li class="list-group-item dhead8">CONNECTION STATUS</li>
            <li class="list-group-item dhead8">
              <span *ngIf="values.ph.status; else elseBlock"
                ><span style="color: greenyellow">✓ ONLINE</span></span
              >
              <ng-template #elseBlock
                ><span style="color: #ff0000">✘ OFFLINE</span></ng-template
              >
            </li>
          </ul>
        </div>
        <div class="col-md slide s1-9">
          <ul class="list-group" style="text-align: center">
            <li class="list-group-item head9">UV LAMPS</li>
            <li class="list-group-item dhead9">Current UV value</li>
            <li class="list-group-item dhead9">
              {{ values.uv.value }}<span class="unit"> nm</span>
            </li>
            <li class="list-group-item dhead9">CONNECTION STATUS</li>
            <li class="list-group-item dhead9">
              <span *ngIf="values.ph.status; else elseBlock"
                ><span style="color: greenyellow">✓ ONLINE</span></span
              >
              <ng-template #elseBlock
                ><span style="color: #ff0000">✘ OFFLINE</span></ng-template
              >
            </li>
          </ul>
        </div>
        <button class="right" (click)="slideRight()">></button>
      </div>
    </div>
  </div>
</body>

<!-- <li id="dhead3" class="list-group-item">
  <a
    id="dhead13"
    href="#"
    class="list-group-item"
    id="dropdownMenuButton1"
    data-bs-target="#navbarSupportedContent31"
    data-bs-toggle="collapse"
  >
    Dropdown button 1 <i class="fas fa-caret-down"></i>
  </a>
  <div
    class="collapse col-md-12 list-group list-group-flush"
    id="navbarSupportedContent31"
  >
    <a id="box3" class="list-group-item" href="#">Action</a>
    <a id="box3" class="list-group-item" href="#">Another action</a>
    <a id="box3" class="list-group-item" href="#"
      >Something else here</a
    >
  </div>
</li> -->
