.main {
  margin: auto;
  margin-top: 7%;
  /* overflow-x: hidden; */
}
.head1 {
  background-color: #34be82 !important;
  color: white;
}
.box1 {
  color: black !important;
  transition: color 0.3s;
  background-color: #34be82 !important;
}
.box1:hover {
  color: white;
}

.dhead1 {
  background-color: #97f1ca !important;
  color: white !important;
}
.dhead11:hover {
  font-weight: 600;
  color: white;
  transition: all ease-in-out 0.1s;
}
.dhead11 {
  border: none;
  color: black;
  background-color: #97f1ca !important;
}
a:hover {
  color: black;
}
#navbarSupportedContent1,
#navbarSupportedContent2,
#navbarSupportedContent3,
#navbarSupportedContent4 {
  background-color: orange;
}
a {
  color: white;
}

#navbarSupportedContent21,
#navbarSupportedContent22,
#navbarSupportedContent23,
#navbarSupportedContent24 {
  background-color: #ece92f !important;
}

.head2 {
  background-color: #ece92f !important;
  color: white !important;
}
.box2 {
  color: black !important;
  transition: color 0.3s;
  background-color: #ece92f !important;
}
.box2:hover {
  color: white;
}

.dhead2 {
  background-color: #e6e46e !important;
}
.dhead12:hover {
  font-weight: 600;
  color: white !important;
  transition: all ease-in-out 0.1s;
}
.dhead12 {
  border: none;
  background-color: #e6e46e !important;
}

#navbarSupportedContent31,
#navbarSupportedContent32,
#navbarSupportedContent33,
#navbarSupportedContent34 {
  background-color: #d8865a;
}

.head3 {
  background-color: #d8865a;
  color: white;
}
.box3 {
  color: black;
  transition: color 0.3s;
  background-color: #d8865a;
}
.box3:hover {
  color: white;
}

.dhead3 {
  background-color: #d8b6a4;
}
.dhead13:hover {
  font-weight: 600;
  color: white;
  transition: all ease-in-out 0.1s;
}
.dhead13 {
  border: none;
  background-color: #d8b6a4;
}

#navbarSupportedContent41,
#navbarSupportedContent42,
#navbarSupportedContent43,
#navbarSupportedContent44 {
  background-color: #29c3ce;
}

.head4 {
  background-color: #29c3ce;
  color: white;
}
.box4 {
  color: black;
  transition: color 0.3s;
  background-color: #29c3ce;
}
.box4:hover {
  color: white;
}

.dhead4 {
  background-color: #71dfe7;
}
.dhead14:hover {
  font-weight: 600;
  color: white;
  transition: all ease-in-out 0.1s;
}
.dhead14 {
  border: none;
  background-color: #71dfe7;
}

#navbarSupportedContent51,
#navbarSupportedContent52,
#navbarSupportedContent53,
#navbarSupportedContent54 {
  background-color: #ab6d23;
}

.head5 {
  background-color: #ab6d23;
  color: white;
}
.box5 {
  color: black;
  transition: color 0.3s;
  background-color: #ab6d23;
}
.box5:hover {
  color: white;
}

.dhead5 {
  background-color: #f1ba75;
}
.dhead15:hover {
  font-weight: 600;
  color: white;
  transition: all ease-in-out 0.1s;
}
.dhead15 {
  border: none;
  background-color: #f1ba75;
}

#navbarSupportedContent61,
#navbarSupportedContent62,
#navbarSupportedContent63,
#navbarSupportedContent64 {
  background-color: #dd4a48;
}

.head6 {
  background-color: #dd4a48;
  color: white;
}
.box6 {
  color: black;
  transition: color 0.3s;
  background-color: #dd4a48;
}
.box6:hover {
  color: white;
}

.dhead6 {
  background-color: #f58785;
}
.dhead16:hover {
  font-weight: 600;
  color: white;
  transition: all ease-in-out 0.1s;
}
.dhead16 {
  border: none;
  background-color: #f58785;
}

#navbarSupportedContent71,
#navbarSupportedContent72,
#navbarSupportedContent73,
#navbarSupportedContent74 {
  background-color: #9ae66e;
}

.head7 {
  background-color: #9ae66e;
  color: white;
}
.box7 {
  color: black;
  transition: color 0.3s;
  background-color: #9ae66e;
}
.box7:hover {
  color: white;
}

.dhead7 {
  background-color: #bef0a1;
}
.dhead17:hover {
  font-weight: 600;
  color: white;
  transition: all ease-in-out 0.1s;
}
.dhead17 {
  border: none;
  background-color: #bef0a1;
}

#navbarSupportedContent81,
#navbarSupportedContent82,
#navbarSupportedContent83,
#navbarSupportedContent84 {
  background-color: #ff7800;
}

.head8 {
  background-color: #ff7800;
  color: white;
}
.box8 {
  color: black;
  transition: color 0.3s;
  background-color: #ff7800;
}
.box8:hover {
  color: white;
}

.dhead8 {
  background-color: #fdb271;
}
.dhead18:hover {
  font-weight: 600;
  color: white;
  transition: all ease-in-out 0.1s;
}
.dhead18 {
  border: none;
  background-color: #fdb271;
}

#navbarSupportedContent91,
#navbarSupportedContent92,
#navbarSupportedContent93,
#navbarSupportedContent94 {
  background-color: #998ceb;
}

.head9 {
  background-color: #998ceb;
  color: white;
}
.box9 {
  color: black;
  transition: color 0.3s;
  background-color: #998ceb;
}
.box9:hover {
  color: white;
}

.dhead9 {
  background-color: #bbb2f8;
}
.dhead19:hover {
  font-weight: 600;
  color: white;
  transition: all ease-in-out 0.1s;
}
.dhead19 {
  border: none;
  background-color: #bbb2f8;
}
p span {
  font-size: 21px;
}
/* font-weight: bold;
      transition: all ease-in-out 0.1s; */
body {
  color: white !important;
  font-family: Arial, Helvetica, sans-serif;
}

/*current slide1*/
@media only screen and (min-width: 768px) {
  body {
    /* overflow-x: hidden; */
    color: white;
  }
  .s1-2 {
    position: absolute;
    transform: rotateY(-40deg);
    width: 20%;
    right: 30px;
    transition: transform ease-in-out 1s;
    pointer-events: none;
    cursor: default;
  }

  .s1-1 {
    position: absolute;
    width: 20%;
    transform: scale(1.5, 1.5) translate(25%, 30%);
    transform-origin: center;
    left: 400px;
    transform-style: preserve-3d;
    transition: all ease-in-out 1s;
  }
  .row {
    perspective: 1000px;
    position: relative;
  }
  .s1-3 {
    position: absolute;
    /* transform: rotateY(-40deg); */
    width: 20%;
    right: -400px;
    /* display: none; */
    transform-style: preserve-3d;
    transition: all ease-in-out 1s;
    pointer-events: none;
    cursor: default;
  }
  .s1-4 {
    position: absolute;
    width: 20%;
    right: -400px;
    display: none;
  }
  .s1-5 {
    position: absolute;
    display: none;
  }
  .s1-6 {
    position: absolute;
    display: none;
  }
  .s1-7 {
    display: none;
  }
  .s1-8 {
    display: none;
  }
  .s1-9 {
    display: none;
  }

  .right {
    position: absolute;
    left: 100%;
    top: 150px;
    width: 40px;
    border: none;
    background: rgba(255, 255, 255, 0);
    font-family: inherit;
    color: #333;

    height: 5.5rem;
    width: 5.5rem;
    font-size: 3.25rem;
    cursor: pointer;
  }
  /* @media only screen and (max-width: 1300px) {
      .right {
        left: 1100px;
      }
      .left {
        right: 1100px;
      }
    } */
  .left {
    position: absolute;
    top: 150px;
    width: 40px;
    right: 100%;
    border: none;
    background: rgba(255, 255, 255, 0);
    font-family: inherit;
    color: #333;

    height: 5.5rem;
    width: 5.5rem;
    font-size: 3.25rem;
    cursor: pointer;
  }
  .logout {
    /* position: absolute;
    left: 100%;
    bottom: 100%;

    width: 5.5rem; */
    /* height: 3.5rem;
    width: 5.5rem; */
    display: inline !important;
    margin-left: 90%;
    margin-top: -5%;
    background-color: rgb(18, 74, 107);
    border: none;
  }
  .back {
    margin-left: 10%;
    margin-top: 3%;
    background-color: rgb(18, 74, 107);
    border: none;
    display: inline !important;
  }
  /*current slide 2*/
  .s2-2 {
    position: absolute;
    transform: scale(1.5, 1.5) translate(25%, 30%);
    transform-origin: center;
    width: 20%;
    left: 400px;
    transition: all ease-in 1s;
  }
  .s2-1 {
    position: absolute;
    transform: rotateY(40deg);
    width: 20%;
    pointer-events: none;
    cursor: default;
    transform-style: preserve-3d;
    transition: all ease-in 1s;
  }
  .s2-3 {
    position: absolute;
    transform: rotateY(-40deg);
    width: 20%;
    right: 30px;
    transform-style: preserve-3d;
    transition: all ease-in-out 1s;
    pointer-events: none;
    cursor: default;
  }

  .s2-4 {
    position: absolute;
    width: 20%;
    right: -400px;
    transition: all ease-in-out 1s;
    /* display: none; */
  }
  .s2-5 {
    position: absolute;
    display: none;
  }
  .s2-6 {
    position: absolute;
    display: none;
  }
  .s2-7 {
    position: absolute;
    display: none;
  }
  .s2-8 {
    position: absolute;
    display: none;
  }
  .s2-9 {
    position: absolute;
    display: none;
  }

  /*current slide 3*/
  .s3-2 {
    position: absolute;

    transform: rotateY(40deg);
    width: 20%;
    transition: all ease-in-out 1s;
    pointer-events: none;
  }
  .s3-1 {
    position: absolute;
    /* transform: rotateY(40deg); */
    width: 20%;
    right: 1450px;
    /* display: none; */

    transform-style: preserve-3d;
    transition: all ease-in-out 1s;
    pointer-events: none;
  }
  .s3-3 {
    position: absolute;

    transform: scale(1.5, 1.5) translate(25%, 30%);
    transform-origin: center;
    width: 20%;
    left: 400px;
    transform-style: preserve-3d;
    transition: all ease-in-out 1s;
  }
  .s3-4 {
    position: absolute;
    width: 20%;
    transform: rotateY(-40deg);
    right: 30px;
    transition: all ease-in-out 1s;
    pointer-events: none;
  }
  .s3-5 {
    position: absolute;
    width: 20%;
    right: -400px;
    transition: all ease-in-out 1s;
  }
  .s3-6 {
    position: absolute;
    display: none;
  }
  .s3-7 {
    position: absolute;
    display: none;
  }
  .s3-8 {
    position: absolute;
    display: none;
  }
  .s3-9 {
    position: absolute;
    display: none;
  }
  /*current slide 4*/
  .s4-2 {
    position: absolute;
    width: 20%;
    /* display: none; */
    right: 1450px;
    width: 20%;
    pointer-events: none;
    cursor: default;
  }
  .s4-1 {
    position: absolute;
    display: none;
    transform-style: preserve-3d;
  }
  .s4-3 {
    position: absolute;
    transform: rotateY(40deg);
    width: 20%;
    transform-style: preserve-3d;
    transition: all ease-in-out 1s;
    pointer-events: none;
    cursor: default;
  }
  .s4-4 {
    position: absolute;
    width: 20%;
    transform: scale(1.5, 1.5) translate(25%, 30%);
    transform-origin: center;
    left: 400px;
    transition: all ease-in-out 1s;
  }
  .s4-5 {
    position: absolute;
    width: 20%;
    transform: rotateY(-40deg);
    right: 30px;
    transition: all ease-in-out 1s;
    pointer-events: none;
  }
  .s4-6 {
    position: absolute;
    width: 20%;
    right: -400px;
    transition: all ease-in-out 1s;
  }
  .s4-7 {
    position: absolute;
    display: none;
  }
  .s4-8 {
    position: absolute;
    display: none;
  }
  .s4-9 {
    position: absolute;
    display: none;
  }

  /* current slide 5*/
  .s5-5 {
    position: absolute;
    width: 20%;
    transform: scale(1.5, 1.5) translate(25%, 30%);
    transform-origin: center;
    left: 400px;
    transition: all ease-in-out 1s;
  }
  .s5-4 {
    position: absolute;
    transform: rotateY(40deg);
    width: 20%;
    transform-style: preserve-3d;
    transition: all ease-in-out 1s;
    pointer-events: none;
    cursor: default;
  }
  .s5-3 {
    position: absolute;
    display: none;
  }
  .s5-1 {
    position: absolute;
    display: none;
  }
  .s5-2 {
    position: absolute;
    display: none;
  }

  .s5-6 {
    position: absolute;
    width: 20%;
    transform: rotateY(-40deg);
    right: 30px;
    transition: all ease-in-out 1s;
    pointer-events: none;
  }
  .s5-7 {
    position: absolute;
    width: 20%;
    right: -400px;
    transition: all ease-in-out 1s;
  }
  .s5-8,
  .s5-9 {
    position: absolute;
    display: none;
  }
  /*current slide 6*/
  .s6-5 {
    position: absolute;
    transform: rotateY(40deg);
    width: 20%;
    transform-style: preserve-3d;
    transition: all ease-in-out 1s;
    pointer-events: none;
    cursor: default;
  }
  .s6-4 {
    position: absolute;
    display: none;
  }
  .s6-3 {
    position: absolute;
    display: none;
  }
  .s6-1 {
    position: absolute;
    display: none;
  }
  .s6-2 {
    position: absolute;
    display: none;
  }

  .s6-6 {
    position: absolute;
    width: 20%;
    transform: scale(1.5, 1.5) translate(25%, 30%);
    transform-origin: center;
    left: 400px;
    transition: all ease-in-out 1s;
  }
  .s6-7 {
    position: absolute;
    width: 20%;
    transform: rotateY(-40deg);
    right: 30px;
    transition: all ease-in-out 1s;
    pointer-events: none;
  }
  .s6-8 {
    position: absolute;
    width: 20%;
    right: -400px;
    transition: all ease-in-out 1s;
  }
  .s6-9 {
    display: none;
  }
  /*current slide 7*/
  .s7-5 {
    display: none;
  }
  .s7-4 {
    display: none;
  }
  .s7-3 {
    display: none;
  }
  .s7-1 {
    display: none;
  }
  .s7-2 {
    display: none;
  }

  .s7-6 {
    position: absolute;
    transform: rotateY(40deg);
    width: 20%;
    transform-style: preserve-3d;
    transition: all ease-in-out 1s;
    pointer-events: none;
    cursor: default;
  }
  .s7-7 {
    position: absolute;
    width: 20%;
    transform: scale(1.5, 1.5) translate(25%, 30%);
    transform-origin: center;
    left: 400px;
    transition: all ease-in-out 1s;
  }
  .s7-8 {
    position: absolute;
    width: 20%;
    transform: rotateY(-40deg);
    right: 30px;
    transition: all ease-in-out 1s;
    pointer-events: none;
  }
  .s7-9 {
    position: absolute;
    width: 20%;
    right: -400px;
    transition: all ease-in-out 1s;
  }
  /*current slide 8*/
  .s8-5 {
    display: none;
  }
  .s8-4 {
    display: none;
  }
  .s8-3 {
    display: none;
  }
  .s8-1 {
    display: none;
  }
  .s8-2 {
    display: none;
  }

  .s8-6 {
    display: none;
  }
  .s8-7 {
    position: absolute;
    transform: rotateY(40deg);
    width: 20%;
    transform-style: preserve-3d;
    transition: all ease-in-out 1s;
    pointer-events: none;
    cursor: default;
  }
  .s8-8 {
    position: absolute;
    width: 20%;
    transform: scale(1.5, 1.5) translate(25%, 30%);
    transform-origin: center;
    left: 400px;
    transition: all ease-in-out 1s;
  }
  .s8-9 {
    position: absolute;
    width: 20%;
    transform: rotateY(-40deg);
    right: 30px;
    transition: all ease-in-out 1s;
    pointer-events: none;
  }
  /*current slide 9*/
  .s9-5 {
    position: absolute;
    display: none;
  }
  .s9-4 {
    position: absolute;
    display: none;
  }
  .s9-3 {
    position: absolute;
    display: none;
  }
  .s9-1 {
    position: absolute;
    display: none;
  }
  .s9-2 {
    position: absolute;
    display: none;
  }

  .s9-6 {
    position: absolute;
    display: none;
  }
  .s9-7 {
    position: absolute;
    display: none;
  }
  .s9-8 {
    position: absolute;
    transform: rotateY(40deg);
    width: 20%;
    transform-style: preserve-3d;
    transition: all ease-in-out 1s;
    pointer-events: none;
    cursor: default;
  }
  .s9-9 {
    position: absolute;
    width: 20%;
    transform: scale(1.5, 1.5) translate(25%, 30%);
    transform-origin: center;
    left: 400px;
    transition: all ease-in-out 1s;
  }
}
@media only screen and (max-width: 768px) {
  .s1-2 {
    display: none;
  }

  .s1-3 {
    display: none;
  }
  .s1-4,
  .s1-5,
  .s1-6,
  .s1-7,
  .s1-8,
  .s1-9 {
    display: none;
  }
  .s2-1 {
    display: none;
  }
  .s2-3 {
    display: none;
  }
  .s2-4,
  .s2-5,
  .s2-6,
  .s2-7,
  .s2-8,
  .s2-9 {
    display: none;
  }
  .s3-1 {
    display: none;
  }
  .s3-2 {
    display: none;
  }
  .s3-4,
  .s3-5,
  .s3-6,
  .s3-7,
  .s3-8,
  .s3-9 {
    display: none;
  }
  .s4-1 {
    display: none;
  }
  .s4-2 {
    display: none;
  }
  .s4-3,
  .s4-5,
  .s4-6,
  .s4-7,
  .s4-8,
  .s4-9 {
    display: none;
  }
  .s5-1,
  .s5-2,
  .s5-3,
  .s5-4,
  .s5-6,
  .s5-7,
  .s5-8,
  .s5-9 {
    display: none;
  }
  .s6-1,
  .s6-2,
  .s6-3,
  .s6-4,
  .s6-5,
  .s6-7,
  .s6-8,
  .s6-9 {
    display: none;
  }
  .s7-1,
  .s7-2,
  .s7-3,
  .s7-4,
  .s7-5,
  .s7-6,
  .s7-8,
  .s7-9 {
    display: none;
  }
  .s8-1,
  .s8-2,
  .s8-3,
  .s8-4,
  .s8-5,
  .s8-7,
  .s8-6,
  .s8-9 {
    display: none;
  }
  .s9-1,
  .s9-2,
  .s9-3,
  .s9-4,
  .s9-5,
  .s9-7,
  .s9-8,
  .s9-6 {
    display: none;
  }
  .row {
    position: relative;
  }
  .left {
    position: absolute;
    width: 40px;
    border: none;
    background: rgba(255, 255, 255, 0);
    color: #333;
    z-index: 10;
    top: 30%;
    height: 5.5rem;
    width: 5.5rem;
    font-size: 3.25rem;
    cursor: pointer;
  }
  .right {
    position: absolute;
    width: 40px;
    border: none;
    background: rgba(255, 255, 255, 0);
    color: #333;
    z-index: 10;
    top: 30%;
    left: 80%;
    height: 5.5rem;
    width: 5.5rem;
    font-size: 3.25rem;
    cursor: pointer;
  }
  .logout {
    margin-left: 80%;
    margin-top: -13%;
    background-color: rgb(18, 74, 107);
    border: none;
  }
  .back {
    margin-left: 3%;
    margin-top: 3%;
    background-color: rgb(18, 74, 107);
    border: none;
  }
}
