.body {
  background-image: url(../../assets/imgs/background.png);
  height: auto;
  display: flex;
}
.myalert {
  color: crimson;
}
.igt {
  background-color: white;
}
p span {
  font-size: large;
}
@media only screen and (max-width: 768px) {
  .card1 {
    width: 90% !important;
  }
}
button {
  background-color: rgb(18, 74, 107);
  border: none;
}
