
  <div class="container">
    <div class="card mx-auto mt-5" style="width: 50rem">
      <div class="card-header">Register</div>
      <div class="card-body">
        
        <div class="mb-3">
          <label for="formGroupExampleInput" class="form-label">User name</label>
          <input
            required
            ngModel
            #username="ngModel"
            type="text"
            class="form-control"
            name="username"
            [(ngModel)]="registeredUserData.username"
            id="formGroupExampleInput"
            placeholder=""
            minlength="2"
            maxlength="25"
            pattern="^[a-zA-z0-9-]+$"
          />
          <div 
            class="alert alert-warning"
            *ngIf="!username.valid && username.touched">
            <div *ngIf="username.errors?.pattern">* should not contain any special character/space</div>
            <div *ngIf="username.errors?.required">* Username must not be empty</div>
            <div *ngIf="username.errors?.maxlength">* should contain maximum of {{username.errors?.maxlength.requiredLength}} characters</div>
            <div *ngIf="username.errors?.minlength">* should contain minimum of {{username.errors?.minlength.requiredLength}} characters</div>
          </div>
        </div>

        <div class="mb-3">
          <label for="formGroupExampleInput2" class="form-label">Password</label>
          <input
            type="password"
            name="password"
            [(ngModel)]="registeredUserData.password"
            class="form-control"
            id="formGroupExampleInput2"
            placeholder=""
            required
            ngModel
            #password="ngModel"
            minlength="8"
            maxlength="25"
            pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?!.*\s).{8,25}$"
          />
          <div 
            class="alert alert-warning " 
            *ngIf="password.touched && !password.valid">
            <div *ngIf="password.errors?.minlength">* should contain minimum of {{password.errors?.minlength.requiredLength}} characters</div>
            <div *ngIf="password.errors?.pattern">* should contain alpha-neumaeric with upper and lower case</div>
            <div *ngIf="password.errors?.required">* Password must not be empty</div>
          </div>
        </div>

        <div class="mb-3">
          <label for="formGroupExampleInput3" class="form-label">Confirm Password</label>
          <input
            type="password"
            name="Cpassword"
            [(ngModel)]="registeredUserData.Cpassword"
            class="form-control"
            id="formGroupExampleInput3"
            placeholder=""
            ngModel
            required
            minlength="8"
            #Cpassword="ngModel"
            pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?!.*\s).{6,12}$"
          />
          <div 
            class="alert alert-warning " 
            *ngIf="Cpassword.touched && !Cpassword.valid">
            <div *ngIf="Cpassword.errors?.minlength">* should contain minimum of {{Cpassword.errors?.minlength.requiredLength}} characters</div>
            <div *ngIf="Cpassword.errors?.pattern">* should contain alpha-neumaeric with upper and lower case</div>
            <div *ngIf="Cpassword.errors?.required">* Confirm Password must not be empty</div>
          </div>
        </div>

        <div class="mb-3">
          <label for="formGroupExampleInput4" class="form-label">E-mail</label>
          <input
            type="text"
            name="email"
            [(ngModel)]="registeredUserData.email"
            class="form-control"
            id="formGroupExampleInput4"
            placeholder=""
            ngModel
            required
            #email="ngModel"
            pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
          />
          <div 
            class="alert alert-warning " 
            *ngIf="email.touched && !email.valid">
            <div *ngIf="email.errors?.pattern">* enter a valid email</div>
            <div *ngIf="email.errors?.required">* E-mail should not be empty </div>
          </div>
        </div>

        <div class="mb-3">
          <label for="formGroupExampleInput5" class="form-label">Organization</label>
          <input
            type="text"
            name="organization"
            [(ngModel)]="registeredUserData.organization"
            class="form-control"
            id="formGroupExampleInput5"
            placeholder=""
            ngModel
            required
            #organization="ngModel"
          />
          <div class="alert alert-warning" *ngIf="organization.touched && !organization.valid"> * Organization should not be empty</div>
        </div>

        <div class="mb-5">
          <label for="formGroupExampleInput6" class="form-label">Designation</label>
          <input
            type="text"
            name="designation"
            [(ngModel)]="registeredUserData.designation"
            class="form-control"
            id="formGroupExampleInput6"
            placeholder=""
            ngModel
            required
            #designation="ngModel"
          />
          <div 
            class="alert alert-warning " 
            *ngIf="designation.touched && !designation.valid">
            <div *ngIf="designation.errors?.required">* Designation should not be empty </div>
          </div>
        </div>

        <div class="mb-3">
          <button type="button" (click)="registerUser()" class="btn btn-primary">
            Register
          </button>
        </div>
      </div>
    </div>
  </div>